.gotopbtn {
  position: fixed;
  width: 60px;
  height: 60px;
  background: rgb(255, 166, 0);
  bottom: 40px;
  right: 50px;
  z-index: 999;
  transition: 0.2s ease-out;

  text-decoration: none;
  text-align: center;
  line-height: 60px;
}

.gotopbtn i {
  font-size: 22px;
  color: black;
  transition: 0.2s ease-out;
}

.gotopbtn:hover i {
  transform: translateY(-4px);
}



.big {
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.container_location {
    max-width: 1300px;
    width: 95%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container_location .section__title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #2b2b2b;
    position: relative;
  }
  
  .section__subtitle {
    font-size: 1.4rem;
    text-align: center;
  }
  
  .container_location .section__title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 2px;
    background-color: rgb(255, 136, 0);
  }
  
.card_location {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.card_details {
  width: 295px;
  background-color: #ffffff;
  overflow: hidden;
  margin: 15px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.card_details img {
  width: 100%;
  height: 220px;
  transition: transform 0.3s ease;
}

.card-content {
  font-size: 17px;
}

.card_details img:hover {
  transform: translateY(-10px); 
}
