html, body {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.gotopbtn {
  position: fixed;
  width: 60px;
  height: 60px;
  background: rgb(255, 166, 0);
  bottom: 40px;
  right: 50px;
  z-index: 999;
  transition: 0.2s ease-out;

  text-decoration: none;
  text-align: center;
  line-height: 60px;
}

.gotopbtn i {
  font-size: 22px;
  color: black;
  transition: 0.2s ease-out;
}

.gotopbtn:hover i {
  transform: translateY(-4px);
}

/* background */
body {
  background-image: url('https://images.unsplash.com/photo-1515063312047-b40b86035e20?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  align-items: center;
  margin-top: 20px;
  background-color: aliceblue;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight:600;
}

a:hover {
  color: rgb(0, 0, 0);
}

/* header */
header {
  position: relative;
  padding: 0 2rem;
}

.dropdown {
  height: 300px;
}

ul li ul.dropdown li {
  display: block;
  z-index: 999;
  padding-top: 5px;
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  padding-top: 10px;
}

ul li:hover ul.dropdown {
  display: block;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-top: 20px;
}

.navbar .links {
  padding-top: 60px;
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  padding-top: 60px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: rgb(255, 166, 0);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  display: none;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}


/* dropdown hero */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 99;
}

.dropdown_menu.open {
  height: 200px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* Nisit */
  section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
  }

  #hero h1 {
    font-size: 4rem;
    letter-spacing: 2px;
  }

  #hero p {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.7;
  }




/* selection */
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
/* selection */




/* Blog */
.container {
  text-align: center;
  background-color: rgb(245, 245, 245);;
  padding-top: 150px;
  padding-bottom: 200px;
}

/* รวมอิง title ภายใต้ container*/
.container .section__title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #2b2b2b;
  position: relative;
}

.section__subtitle {
  font-size: 1.4rem;
  text-align: center;
}

.container .section__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: rgb(255, 136, 0);
}

.container2 .section__title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #2b2b2b;
  position: relative;
}

.container2 .section__subtitle {
  font-size: 1.4rem;
  text-align: center;
  margin-right: 7px;
}

.container2 .section__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: rgb(255, 136, 0);
}

.container3 .section__title {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #2b2b2b;
  position: relative;
}

.container3 .section__subtitle {
  font-size: 1.4rem;
  text-align: center;
}

.container3 .section__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: rgb(255, 136, 0);
}
/* รวมอิง title ภายใต้ container*/



.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

.card .card1 {
  margin: 15px;
  background-color: #ffffff;
  width: 390px;
  height: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  
}

.card .card1 h1,p {
  color: #181818;
  text-align: left;
  margin: 25px;
}

.card .card1 h1 {
  color: #181818;
  font-size: 20px;
}

.card .card1 img {
  width: 100%; 
  height: 260px; 
  object-fit: cover;
}

.card .card1 {
  transition: transform 0.3s ease;
}

.card .card1:hover {
  transform: translateY(-10px); 
}

.card-btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  background-color: rgb(255, 166, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  margin-right: 51%;
  width: 9rem;
}
/* Blog */



/* ที่พัก */
.container2 {
  background-color: rgb(204, 241, 255);
  padding: 150px 200px 200px 200px;
  text-align: center;
}

.container2 h11 {
  font-size: 2rem;
  font-weight: bold;
}

.container2 h2 {
  margin-left: 23px;
  padding-top: 35px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  padding-top: 150px;
  padding-left: 19px;
  padding-bottom: 50px;
}

.card-1 {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  transition: transform 0.3s ease;
}

.card-1:hover {
  transform: translateY(-10px);
}

.card-image-1 {
  width: 40%;
}
.card-image-1 img {
  width: 100%;
  min-height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-text-1 {
  width: 70%;
  padding: 10px;
  text-align: left;
  padding-bottom: 10px;
}

.card-text-1 span {
  padding-left: 25px;
}

.card-btn2 {
  color: rgb(255, 166, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-left: 9px;  
}
/* ที่พัก */



/* ที่เที่ยวอื่นๆ */
.container3 {
  text-align: center;
  background-color: rgb(245, 245, 245);;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 500px;
  margin-right: 500px;
  padding-top: 100px;
  gap: 30px;
}

.main img {
  width: 550px;
  height: 380px;
  object-position: center;
}

.tour__card2 {
  position: relative;
}

.tour__card__details2 {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
}

.tour__card__details2 p {
  font-size: 2rem;
  font-weight: 600;
  padding: 4rem 1rem;
  margin: auto;
  width: fit-content;
  opacity: 0;
  transition: 0.3s;
  color: white;
}

.tour__card2::before {
  position: absolute;
  content: "";
  inset: 0;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

.tour__card2:hover::before {
  opacity: 0.7;
  background-color: #272727;
}

.tour__card2:hover p {
  opacity: 1;
}
/* ที่เที่ยวอื่นๆ */



/* responsive */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
}

  .navbar .toggle_btn {
    display: block;

  }

  .dropdown_menu {
    display: block;
  }

  @media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;

    }
  }

}

/* <a href="#" class="to-top">
  <i class="fas fa-chevron-up"></i>
</a>
<script src="main.js"></script>
css------------------ 
.to-top {
  background: rgb(0, 0, 0);
  position: fixed;
  bottom: 16px;
  right:15px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#ffffff;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
JS--------------------------
const toTop = document.querySelector(".to-top");

window.addEventListener("scroll", () => {
  if (window.pageYOffset > 100) {
    toTop.classList.add("active");
  } else {
    toTop.classList.remove("active");
  }
/* */



