.team {
    position: relative;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#ffffff,#ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 75px;
    height: 1550px;
}

.team-content {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.team-content img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.center h1 {
    color:#000000;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
}

.center .border {
    border-top: 2px solid rgb(255, 136, 0);;
    margin-bottom: 50px;
}

.box {
    padding: 16px;
    background: #d6d6d6;
    border-radius: 15px;
    transition: all .38s ease;
}

.box h3 {
    font-size: 23px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.icons i {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons i:hover {
    transform: scale(1.2);
}

@media(max-width: 1240px) {
    .team {
        width: 100%;
        height: auto;
        padding: 90px 2%;
    }

    .center h1 {
        font-size: 2.2rem;
    }
}







.contact-big {
    background-color: rgb(204, 241, 255);
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #0471ff;
    border-radius: 10px;
    margin-bottom: 5px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 20px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid rgb(255, 166, 0);
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #3a8fff, rgb(179, 87, 255));
    cursor: pointer;
}

.contact-right img {
    height: 500px;
    padding-left: 50px;
}

@media (max-width:800px) {
    .contact-inputs {
        width: 80vw;
        margin-right: 75px;
    }

    .contact-right {
        display: none;
    }
}